@{
    ViewData["Title"] = "Privacy Policy";
}
<h2>@ViewData["Title"]</h2>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - My ASP.NET MVC Application</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @*@Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/themes/base/css")*@
</head>
<body>
    <div id="header">
        <h3>2014 FIFA World Cup Brazil</h3>
    </div>
    <div id="page">
        <div id="menu">
            <ul data-bind="foreach: menuitems">
                <li>
                    <span data-bind="text: name, click: $root.menuClick"> </span>
                </li>
            </ul>
        </div>
        <div id="content">

        </div>

    </div>
    @*@Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/fifa")*@
</body>
</html>
